
/* custom styles */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Fonts Import */
@font-face {
    font-family: 'DMSans';
    src: url('./assets/fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Fonts End */




:root {
    --font-primary: "DMSans", sans-serif;
    --font-secondary: "Poppins", sans-serif;
    --color-primary: #5956E9;
    --color-link: #2522BA;
    --color-white: #ffffff;
    --color-light: #ECF2F6;
    --color-black: #000000;
    --color-text-dark: #292930;
    --color-body: #525260;
    --color-border: rgba(0, 0, 0, 0.25);
}


body {
    font-family: var(--font-primary);
    background-color: var(--color-white);
    color: var(--color-black);
}

/* ----------Button Start---------- */

.btn {
    display: flex;
    align-items: center;
    padding: 18px 55px;
    background-color: var(--color-primary);
    color: var(--color-light);
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-link);
    transition: all 1.5s ease-in-out;
}

/* .btnicon {
    color: var(--color-white);
    font-size: 20px;
    margin-right: 10px;
} */

/* ----------Button End---------- */



/* ----------Header Start---------- */

nav {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    margin : 35px 0;
}

.logo {
    cursor: pointer;
}

.sections {
    display: flex;
    gap: 5vw;
    color: var(--color-body);
}

.sections li {
    cursor: pointer;
}

.sections li:hover {
    color: var(--color-link);
    transition: all 0.3s ease-in-out;
}

/* ----------Header End---------- */

/* ----------Intro Start---------- */

.intro {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.intro h1 {
    font-size: 70px;
    font-weight: 700;
    color: var(--color-text-dark);
    line-height: 1.4;
    margin-bottom: 40px;
    letter-spacing: -0.045em;
}


.card-carousel {
    display: flex;
    width: 100%;
    overflow: hidden;
    gap: 30px;
    /* padding: 0 10vw; */
    margin-top: 30px;
}

/* Slick Carousel Start */

.carousel-container {
    width: 100%;
    margin: auto;
}

.slick-slide {
    margin: 0 10px; /* Adds space between slides */
}

.slick-list {
    margin: 0 -10px; /* Adjusts spacing to maintain alignment */
}

.banner-slide {
    padding: 0 10px; /* Ensures consistent spacing inside each slide */
}

.banner {
    border-radius: 16px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    cursor: pointer;
}

.linklabel {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px;
    right: 10px;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.icon {
    margin-right: 10px;
}

.linklabel:hover {
    background-color: var(--color-link);
    transition: all 0.3s ease-in-out;
}

/* Slick Carousel End */



/* ----------Intro End---------- */


/* ----------Services Start---------- */

.services {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 0 10vw;
}

.services h2 {
    font-size: 45px;
    font-weight: 700;
    color: var(--color-text-dark);
    line-height: 1.4;
    margin-bottom: 30px;
    letter-spacing: -0.045em;
    text-align: center;
}

.services p {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-body);
    line-height: 1.4;
    margin-bottom: 40px;
    text-align: center;
}

.servicecont {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.servicesimg {
    width: 500px;
}


/* Service Card Start */
.servicecard {
    display: flex;
    flex-direction: row;
    width: 540px;
    gap: 30px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 35px;
}

.serviceicon{
    width: 40px;
    height: 40px;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.cardheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardtitle {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-text-dark);
    line-height: 1.4;
    letter-spacing: -0.045em;
}

.carddescription {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-body);
    line-height: 1.4;
    letter-spacing: -0.045em;
}

.toggle-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--color-primary);
    font-size: 20px;
    color: var(--color-white);
}

/* Service Card End */

/* ----------Services End---------- */


/* ----------Recent Work Start---------- */

.recentwork {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 0 10vw;
}

.recentwork h2 {
    font-size: 45px;
    font-weight: 700;
    color: var(--color-text-dark);
    line-height: 1.4;
    margin-bottom: 30px;
    letter-spacing: -0.045em;
    text-align: center;
}

.recentwork p {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-body);
    line-height: 1.4;
    margin-bottom: 40px;
    text-align: center;
}

.portfoliocont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}


/* Portfolio Card Start */

.portfoliocard {
    width: 350px;
    height: 300px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column; /* Stack image and content */
    overflow: hidden; /* Ensures content stays inside */
}

.portfoliocard img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
}

.portfoliocontent {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    background-color: var(--color-white);
    margin-top: auto;
}

.portfoliocontent h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-text-dark);
    line-height: 1.4;
    letter-spacing: -0.045em;
    text-align: center;
    margin-top: 10px;
}

.portfoliocontent h3:hover {
    color: var(--color-link);
    transition: all 0.3s ease-in-out;
}

.cardlink {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* .cardlink :hover {
    color: var(--color-link);
    transition: all 0.3s ease-in-out;
} */

.portfoliocontent p {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-body);
    text-align: center;
}

/* Portfolio Card End */

/* ----------Recent Work End---------- */


/* ---------- WorkSkills Start ---------- */

.workskills {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 0 10vw;
}

.workskills h2 {
    font-size: 45px;
    font-weight: 700;
    color: var(--color-text-dark);
    line-height: 1.4;
    margin-bottom: 30px;
    letter-spacing: -0.045em;
    text-align: center;
}

.workskills p {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-body);
    line-height: 1.4;
    margin-bottom: 40px;
    text-align: center;
}

/* ---------- WorkSkills End ---------- */

